<div class="widget">
  <h3 class="title">StackOverflow</h3>
  <div class="entry">
    <a href="http://stackoverflow.com/users/1246718/aaron-wang">
      <img class="no-fancy" src="http://stackoverflow.com/users/flair/1246718.png?theme=clean" title="profile for Aaron Wang at Stack Overflow, Q&A for professional and enthusiast programmers">
    </a>
  </div>
</div>